.list {
	position: relative;
	width: 500px;
	height: 528px;
	top: 57px;
	left: 25px;
	overflow-y: auto;
}

.info {
	width: 400px;
	height: 80px;
	margin-bottom: 25px;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 10%);
	background: #fff;
	padding: 12px 12px 15px 38px;
}

.info input {
	width: 250px;
	height: 30px;
	background: #eee;
	border: none;
	border-radius: 10px;
	padding: 0px 15px 0px 15px;
	font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  	font-size: 14px;
  	font-weight: 400;
}

#name-input {
	margin-bottom: 5px;
}

.info .btns {
	display: flex;
	justify-content: flex-end;
}

#modify {
	color: #ddd;
	cursor: pointer;
}
#modify:hover {
	color: #8CDE6F;
}

#delete {
	margin-left: 10px;
	color: #ddd;
	cursor: pointer;
}
#delete:hover {
	color: #FB6F6F;
}

.items {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

#name {
	font-size: 17px;
	font-weight: 600;
	margin-bottom: 5px;
}

#phone {
	font-size: 12px;
}