body {
  background: #F6D971;
}

.App {
  position: absolute;
  width: 600px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FBFBFB;
  border-radius: 10px;
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

h1 {
  margin-top: 70px;
  margin-bottom: 100px;
}

#modal-btn {
  font-size: 48px;
  position: fixed;
  left: 30px;
  bottom: 30px;
  color: #FDD441;
  cursor: pointer;
}