body {
  background: #F6D971;
}

.App {
  position: absolute;
  width: 580px;
  height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FBFBFB;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 10%);;
  display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
  position: relative;
  top: 50px;
  font-weight: 600;
}

.App > .btns {
  width: 430px;
  height: 100px;
  position: relative;
  top: 60px;
  display: flex;
	justify-content: flex-end;
  align-items: center;
  font-size: 30px;
  text-align: center;
  color: #BBB;
}

.App > .btns > input {
  display: none;
  width: 350px;
	height: 30px;
	background: #eee;
	border: none;
	border-radius: 10px;
	padding: 0px 15px 0px 15px;
  margin-right: 10px;
	font-family: 'Gotham SSm A', 'Gotham SSm B', sans-serif;
  font-size: 14px;
  font-weight: 400;
  animation: input-appear 0.7s reverse forwards;
}
.App > .btns.appear input {
  display: inline;
  animation: input-appear 0.7s forwards;
}
.App > .btns.appear #modal-btn {
  display: none;
}

#modal-btn {
  cursor: pointer;
  margin-right: 2px;
}
#modal-btn:hover {
  color: #000;
}

#search-btn {
  cursor: pointer;
}
#search-btn:hover {
  color: #000;
}

@keyframes input-appear {
  0% {
		width: 0px;
	}
	100% {
		width: 350px;
	}
}